/*
!*.gitignore
!README.md
!environment.yml
!/Notebooks
/Notebooks/*
!/Notebooks/images/
/Notebooks/images/.DS_Store
/Notebooks/images/.ipynb_checkpoints/*
/Notebooks/images/class_person_illustration/*
/Notebooks/images/person_class_illustration.pptx
!/Notebooks/data/
/Notebooks/data/.DS_Store
/Notebooks/data/.ipynb_checkpoints/*
!/Notebooks/0-Introduction.ipynb
!/Notebooks/1-Variables_and_Arithmetic.ipynb
!/Notebooks/2-Data_Structures.ipynb
!/Notebooks/3-Conditional_Statements.ipynb
!/Notebooks/4-Iterations.ipynb
!/Notebooks/5-Plotting.ipynb